Como te has quedado en
<br><h4><%=@estate.name%></h4>
Estancia de <%=@diff%> noche<%=@plural_arg%>
<br><%=@booking.date_start%>, <%=@booking.date_end%>
<br>
¿Cómo estuvo tu estancia en <%=@estate.name%>?

dejanos tu opinión en el siguiente enlace <%=link_to "booking", root_url + "estates/" + @estate.id.to_s + "/show_visited/?confirmation_token=" + @booking.confirmation_token%>