<%= form_with(model: owner, local: true) do |form| %>
  <% if owner.errors.any? %>
    <div>
      <h2>
        <%- pluralize(owner.errors.count, "error") %>
        Lo sentimos ha ocurrido un error
      </h2>
      <ul>
        <% owner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= render 'profile_picture', owner: owner, form: form %>
    <div class="col-lg-8">
      <div class="card card-default">
        <div class="card-header d-flex align-items-center">
          <div class="d-flex justify-content-center col">
            <div class="h4 m-0 text-center">Completa la informacion de tu perfil</div>
          </div>

        </div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <div class="card-body">
          <div class="row py-4 justify-content-center">
            <div class="col-12 col-sm-10">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right ">Teléfono: </label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_field :phone, class: "form-control", required: "required" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right">Dirección: </label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_area :address, class: "form-control", required: "required" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right">Acerca de mi: </label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_area :about, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row col-md-10">
                  <div class="actions">
                    <%= form.submit "Guardar", class: "btn btn-info" %>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'crop_image_modal' %>