
<%= form_with(model: @owner, local: true) do |form| %>

  <%if @owner.errors.any? %>
    <div>
      <h2> <%- pluralize(@owner.errors.count, "error") %>
      Error
      </h2>
      <ul>
        <%@owner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end %>
      </ul>
    </div>
  <%end %>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-default">
        <div class="card-body text-center">
          <div class="py-4">
          <%if @owner.image.attached? %>
              <div class="py-4 text-center" id="target">
                <%= image_tag @owner.image, alt: "rss fit", height: "150", width:"150"%>
              </div>
          <%else %>
              <div id="target">
                <img class="img-fluid thumb96" src="<%= image_path('angle/user/perfil.png') %>" alt="Contact" height="150" width="150" />
              </div>
           <%end %>

            <p></p>
            <div class="form-group row">
              <div class="col-xl-12 col-md-9 col-8"   >
                <%= form.file_field :image,multiple: true,  id: "pictureInput", accept: "image/*" %>
              </div>

            </div>
          </div>

          <div class="my-3">
            <div class="col-xl-12 col-md-12 col-12">
              <label class="text-bold  text-right">Acerca de mi</label>
              <%= form.text_area :about, class: "form-control" %>
            </div>
          </div>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-default">
        <div class="card-header d-flex align-items-center">
          <div class="d-flex justify-content-center col">
            <div class="h4 m-0 text-center">Mi información</div>
          </div>

        </div>
        <div class="card-body">
          <div class="row py-4 justify-content-center">
            <div class="col-12 col-sm-10">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" >Nombre</label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_field :name, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right">Email</label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <% if user_signed_in? %>
                      <div class = "form-control"><%= current_user.email %></div>
                    <% end %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right ">Teléfono</label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_field :phone, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" >Dirección</label>
                  <div class="col-xl-10 col-md-9 col-8">
                    <%= form.text_area :address, class: "form-control" %>
                  </div>
                </div>
                <%= form.hidden_field :user_id, value: current_user.id %>

                <div class="form-group row">
                  <div class="col-xl-2 col-md-3 col-4"></div>
                  <div class="col-xl-10 col-md-9 col-8">
                  </div>
                </div>
                <div class="form-group row col-md-10">
                  <div class="actions">
                    <%= form.submit "Guardar",  class: "btn btn-info" %>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

