<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Resumen', owner_path(current_owner), :class => "nav-link", :id => "resume" %>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="bookings">Mis Reservas</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Lugares Visitados', visited_estates_path, :class=> "nav-link", :id => "visited_places" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Reseñas', '/comments/', :class => "nav-link", :id => "reviews" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Configuraciones', edit_owner_path(current_owner), :class => "nav-link", :id => "settings" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Mis Propiedades', estates_path, :class => "nav-link", :id => "estates"%>
  </li>
</ul>
<br>
<script>
  $(() => {$('#' + (<%= id %>).id).toggleClass('active');});
</script>