<div class="modal-header">
  <div id="title">
    <h3 class="modal-title">Cancela tu Reserva</h3>
  </div>
</div>
<%= form_for booking_url, url: {action: "cancel_my_booking", params: {id: booking.id}} do |f| %>
<div class="modal-body">
  <h4>Cuentanos por que quieres cancelar</h4>
    <% CancellationMotive.all.each do |cm| %>
      <%= radio_button_tag 'motive', cm.id %>&nbsp;&nbsp;
      <label for="<%= cm.id %>"><%= cm.description %></label><br>
    <% end %>
</div>
<div class="modal-footer">
  <%= f.submit 'Cancelar Reserva', class: "btn btn-outline-danger btn-sm" %>
</div>
<% end %>

<script>
  $(document).ready(function() {
    $("#motive_1").prop("checked", true);
  })
</script>