<% status_booking = get_status(booking) %>
<div align="center">
  <div class="col-7">
    <div class="content-heading row align-items-start">
      <div class="col-2 ">Reserva</div>
      <div class="col-2 align-items-center text-center">
        <label class=" badge badge-pill badge-<%= get_status_color(status_booking) %>"><%= status_booking %></div>
    </div>
  </div>
</div>
<div align="center">
  <div class="col-7">
    <div class="card card-default">
      <fieldset style="margin: 0; border: 0; padding: 0;" class="card-body">

        <!-- DATOS DEL HOTEL -->
        <div class="col-12" align="left">
          <div class="row title-section">
            <div class="col-12 d-flex align-items-center">
              <div class="row">
                <div class="col-12">
                  <h1 class="text-info" id="estate-title">
                    <%= estate.name %>
                  </h1>
                </div>
                <div class="col-12 d-flex align-items-center">
                  <em class="mr-1 fa-1x fas fa-map-marker-alt">
                  </em>
                  <span>
                    <%= estate.address %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END -->
        <br>
        <!-- DESCRIPCION HOTEL -->
        <div class="col-12" align="left">
          <div class="container">
            <p class="col-12" id="description-text">
              &emsp;&emsp;<%= estate.description %>
            </p>
          </div>
        </div>
        <!-- END -->

        <!-- ESTATE DETAILS -->
        <div class="col-12" id="estate-details" align="left">
          <div class="row details">
            <div class="col-md-8 col-sm-12" id="carousel-div">
              <%= render partial: "estates/show_images", :locals => { images: estate.images, h_size: '340px'} %>
            </div>
            <div class="col-md-4 col-sm-12" id="facilities-div">
              <div class="row">
                <div class="col-12 facilities-title">
                  <h3>Comodidades</h3>
                </div>
                <div class="col-12 overflow-auto facilities-list-div">
                  <%= render partial: "estates/facilities_list", :locals => { facilities: estate.facilities_estates } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END -->

        <br>
        <div class="col-11" align="left">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="lead">
                <b><%=booking.client_name%></b>
              </p>
            </li>
            <li class="list-group-item">
              <b>Correo: </b><%=booking.client_email%>
            </li>
            <li class="list-group-item">
              <b>Desde: </b><%=booking.date_start.strftime("%d-%m-%Y") %>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <b>Hasta: </b><%=booking.date_end.strftime("%d-%m-%Y") %>
            </li>
            <li class="list-group-item"></li>
          </ul>
        </div>
        <br>
        <div class="col-11">
          <table class="table">
            <thead class="table-primary">
            <tr align="center">
              <th>Tipo de habitación</th>
              <th>Capacidad</th>
              <th>Cantidad</th>
              <th class="text-right">Precio Unitario</th>
              <th class="text-right">Subtotal</th>
              <th>Ver más</th>
            </tr>
            </thead>
            <tbody>
            <% subtotal = 0 %>
            <% booking.booking_details.each do |f| %>
              <tr>
                <td>
                  <%=Room.room_type_for(f.room_id)%>
                </td>
                <td class="text-center"><%=Room.room_capacity_for(f.room_id)%></td>
                <td class="text-center"><%=f.quantity %></td>
                <td class="text-right"><%= number_to_currency(f.subtotal / f.quantity, :unit => "Gs", :separator => ".", :precision => 0)%></td>
                <td class="text-right"><%= number_to_currency(f.subtotal, :unit => "Gs", :separator => ".", :precision => 0) %></td>
                <% subtotal+= f.subtotal %>
                <td class="text-center">
                  <%= link_to room_estate_url(f.room_id), class: 'btn btn-link', remote: true do %>
                    <button class="btn btn-link text-primary" title="Ver"><i class="fas fa-eye"></i></button>
                  <% end %>
                </td>
              </tr>
            <%end%>
            <% if booking.discount > 0 %>
              <tr>
                <td>Descuento</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <%= number_to_currency(booking.discount/diff, :unit => "Gs", :separator => ".", :precision => 0) %>
                </td>
              </tr>
            <% end %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <b><%= number_to_currency( subtotal - booking.discount/diff, :unit => "Gs", :separator => ".", :precision => 0) %></b>
                </td>
              </tr>
              <tr class="thead-light">
                <th><b>Total: <%=diff%> noche<%=plural_arg%></b></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  <b> <%= number_to_currency( booking.total_amount, :unit => "Gs", :separator => ".", :precision => 0) %></b>
                </th>
                <th></th>
              </tr>
            </tbody>
          </table>
        </div>
        <% if status_booking == "Futura" && is_cancellable?(estate) %>
          <div class="col-11" id="can_cancel">
            <%= link_to 'Cancelar Reserva', cancel_path(booking),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-danger btn-sm'}  %>
          </div>
        <% elsif status_booking == "Cancelada" %>
          <div class="col-11" id="cant_cancel">
            <p>
              <b>Esta reserva ya ha sido cancelada.</b>
            </p>
          </div>
        <% elsif status_booking == "Vigente"%>
          <div class="col-11" id="cant_cancel">
            <p>
              <b>No se pueden cancelar reservas vigentes.</b>
            </p>
          </div>
        <% elsif status_booking == "Pasada" %>
          <div class="col-11" id="cant_cancel">
            <p>
              <b>No se pueden cancelar reservas pasadas.</b>
            </p>
          </div>
        <% else %>
          <div class="col-11" id="cant_cancel">
            <p>
              <b>Esta propiedad no permite la cancelacion de reserva por parte de usuarios.
              Si deseas cancelar tu reserva, ponte en contacto con el propietario o la administracion del lugar.</b>
            </p>
          </div>
        <% end %>
      </fieldset>
    </div>
    <% if user_signed_in? %>
      <div align="left">
        <%= link_to 'Volver Atras', index_user_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
  </div>
</div>

<div id="room-content"></div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
