<%= form_with(model: booking, local: true) do |form| %>

  <div class="content-heading">Reserva</div>
  <div align="center">
    <div class="col-7">
      <div class="card card-default">
        <fieldset style="margin: 0; border: 0; padding: 0;" class="card-body">
          <div class="row ocultar" align="left">
            <div class="col-md-8">
              <div class="card-body">
                <div class="form-group col-10">
                  <label>Nombre y Apellido *</label>
                  <% if user_signed_in? %>
                    <%= form.text_field :client_name, class: "form-control", value: current_user.name + " " + current_user.last_name, required: "required" %>
                  <% else %>
                    <%= form.text_field :client_name, class: "form-control", required: "required" %>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group col-10">
                  <label>Correo *</label>
                  <% if user_signed_in? %>
                    <%= form.text_field :client_email, class: "form-control", required: "required", value: current_user.email, :readonly => true %>
                  <% else %>
                    <%= form.email_field :client_email, class: "form-control", required: "required" %>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group col-10 font-weight-bold">
                  <label>Estancia de <%= diff %> dia<%= plural_arg %></label>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-body">
                <div class="form-group  ">
                  <label>Desde</label>
                  <input type="text" class="form-control" value="<%= l(booking.date_start, format: :long) %>" readonly>
                  <%= form.date_field :date_start, class: "form-control", required: "required", :readonly => true, :type => "hidden" %>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Hasta </label>
                  <input type="text" class="form-control" value="<%= l(booking.date_end, format: :long) %>" readonly>
                  <%= form.date_field :date_end, class: "form-control", required: "required", :readonly => true, :type => "hidden" %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="col-11">

            <table class="table table-hover" id="tableMain">
              <thead class="table-primary">
              <tr class="tableheader" align="center">
                <th>Tipo de habitación</th>
                <th>Capacidad</th>
                <th>Cantidad</th>
                <th class="text-right">Precio Unitario</th>
                <th class="text-right">Subtotal</th>
                <th>Ofertas</th>
              </tr>
              </thead>

              <% subtotal = 0 %>
              <% discount_room = [] %>
              <% room = 0 %>
              <% i = 0 %>
              <%= form.fields_for :booking_details, booking.booking_details do |f| %>
                <% discount_room[room] = 0 %>
                <% f.object.offer_discounts.each do |ff| %>
                    <% discount_room[room] += f.object.subtotal * (ff['quantity_days'].to_i) * (ff['discount'].to_i) / 100 %>
                <% end %>
                <tr class="breakrow">
                  <td class="text-center"><%= Room.room_type_for(f.object.room_id) %></td>
                  <td class="text-center"><%= Room.room_capacity_for(f.object.room_id) %></td>
                  <td class="text-center"><%= f.object.quantity %></td>
                  <td class="text-right"><%= number_to_currency(f.object.subtotal / f.object.quantity, :unit => "Gs", :separator => ".", :precision => 0) %></td>
                  <td class="text-right">
                    <%if(discount_room[room] > 0) %>
                      <s><%= number_to_currency(f.object.subtotal * diff, :unit => "Gs", :separator => ".", :precision => 0) %></s>
                      <br>
                      <%= number_to_currency(f.object.subtotal * diff - discount_room[room], :unit => "Gs", :separator => ".", :precision => 0) %>
                    <%else %>
                      <%= number_to_currency(f.object.subtotal * diff, :unit => "Gs", :separator => ".", :precision => 0) %>
                    <%end %>
                  </td>
                  <%= f.hidden_field :room_id %>
                  <%= f.hidden_field :quantity %>
                  <%= f.hidden_field :subtotal %>
                  <%= f.hidden_field :booking_id %>
                  <% subtotal += f.object.subtotal %>
                  <td class="text-center">
                    <%if(discount_room[room] > 0) %>
                      <button class="btn btn-link text-warning buttonrow" title="Ver oferta" type="button">
                        <i class="fas fa-tags"></i>
                      </button>
                    <%else %>
                      <span class="badge badge-danger">Sin ofertas</span>
                    <%end %>
                  </td>
                <tr class="datarow">
                  <td class="text-center font-weight-bold" colspan="6" style="font-size: 15px;">
                    <u>Ofertas que incluye</u></td>
                </tr>
                <tr class="datarow">
                  <td></td>
                  <td class="font-weight-bold" colspan="2">Descripción</td>
                  <td class="font-weight-bold">Días</td>
                  <td class="font-weight-bold">Descuento</td>
                  <td></td>
                </tr>
                <% f.object.offer_discounts.each do |ff| %>
                  <tr class="datarow">
                    <td></td>
                    <td colspan="2"><%= ff['description'] %></td>
                    <td><%= ff['quantity_days'] %></td>
                    <td><%= ff['discount'] %>%</td>
                    <td></td>
                    <%= hidden_field_tag "booking[booking_details_attributes][#{f.object.id.nil? ? i : f.object.id}][offer_discounts][][quantity_days]", ff['quantity_days'] %>
                    <%= hidden_field_tag "booking[booking_details_attributes][#{f.object.id.nil? ? i : f.object.id}][offer_discounts][][discount]", ff['discount'] %>
                    <%= hidden_field_tag "booking[booking_details_attributes][#{f.object.id.nil? ? i : f.object.id}][offer_discounts][][description]", ff['description'] %>
                  </tr>
                <% end %>
                <% i += 1 %>
                </tr>
                <% room += 1 %>
              <% end %>
              <tr class="thead-light breakrow">
                <th><b>Total:</b></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right font-weight-bold">
                  <%= number_to_currency(form.object.total_amount, :unit => "Gs", :separator => ".", :precision => 0) %>
                  <%= form.hidden_field :total_amount %>
                  <%= form.hidden_field :discount %>
                  <%= form.hidden_field :date_creation %>
                </th>
                <th></th>
              </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
        <fieldset>
          <br/>
          <div align="right">
            <div class="col-md-4">
              <%= form.hidden_field :estate_id %>
              <%= form.submit 'Reservar', class: "btn btn-success" %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.datarow').slideToggle(200);
    $(document).ready(function () {
        $('.buttonrow').on('click', function () {
            //$(this).parent().parent().nextUntil('tr.breakrow').css({"color": "red", "border": "2px solid red"});
            $(this).parent().parent().nextUntil('tr.breakrow').slideToggle(200);
        });
    });
</script>