<div class="container">
  <div class="form-row">
    <div class="col">
      <table class="table table-bordered">
        <% bookings.each do |booking| %>
          <tr>
            <td class="results-background">
              <div class="media align-items-center">
                <a class="mr-4" href="#">
                  <%= image_tag booking.estate_images.first, alt: "rss feed", height: 100, width: 100 %>
                </a>
                <div class="media-body d-flex">
                  <div class="">
                    <h4 class="m-0" style="font-size:25px"><%= booking.estate_name %></h4>
                    <small class="text-muted"><%= booking.date_start.strftime("%d/%m/%Y") %>
                      - <%= booking.date_end.strftime("%d/%m/%Y") %></small>
                    <% status_booking = get_status(booking) %>
                    <p>
                      <label class=" badge badge-pill badge-<%= get_status_color(status_booking) %>"><%= status_booking %></label>
                    </p>
                  </div>
                  <div class="ml-auto">
                    <span><h4 class="m-0" style="font-size:16px">Total: <%= number_to_currency(booking.total_amount, :unit => "Gs", :separator => ".", :precision => 0) %></h4></span>
                  </div>
                </div>
              </div>
              <div class="media-body d-flex">
                <div class="btn-group ml-auto" role="group">
                  <%= link_to booking_path(booking.id) do %>
                    <button class="btn btn-sm btn-primary">Detalles</button>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>

      <!--PRUEBA TEAMCITY 1 -->
      <div class="card-columns-2 card-body">
        <div class="row row-flush">
          <div class="col col-6 align-items-center">
            <%= will_paginate bookings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          </div>
          <div class="col col-9">
            <%= page_entries_info bookings, :model => 'booking', :class => 'align-middle' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>