<div class="col-12 results-filter-block">
    <%= puts filterrific.inspect %>
    <%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
    <div class="form-group col-12">
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?",
                         :class => 'filterrific-periodically-observed form-control' %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field(:with_date_gte, placeholder: "Fecha de entrada", class: 'input-sm form-control',
                        readonly: true,
                        :'data-provide' => 'datepicker',
                        id: 'with_date_gte')%>
        </div>
        <div class="span5 col-md-5" id="sandbox-container">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start">
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end">
            </div>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field(:with_date_lte, placeholder: "Fecha de salida", class: 'input-sm form-control',
                        readonly: true,
                        :'data-provide' => 'datepicker',
                        id: 'with_date_lte') %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.submit :Buscar, class: 'form-control btn btn-primary' %>
        </div>
    </div>
    <% end %>
</div>