<div class="col results-filter-block">
    <%= puts filterrific.inspect %>
    <%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
    <div class="form-group">
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?",
                         :class => 'filterrific-periodically-observed form-control' %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field(:with_date_gte, placeholder: "Fecha de entrada", class: 'input-sm form-control',
                        readonly: true,
                        id: 'with_date_gte')%>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field(:with_date_lte, placeholder: "Fecha de salida", class: 'input-sm form-control',
                        readonly: true,
                        id: 'with_date_lte') %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.submit :Buscar, class: 'form-control btn btn-primary' %>
        </div>
    </div>
    <% end %>
</div>
<script>
$(function() {
    var startDate = new Date();
    var FromEndDate = new Date();
    var ToEndDate = new Date();
    
    ToEndDate.setDate(ToEndDate.getDate()+365);
    FromEndDate.setDate(FromEndDate.getDate()+365);
    
    $('#with_date_gte').datepicker({
    
        weekStart: 1,
        startDate: new Date(),
        endDate: FromEndDate, 
        autoclose: true,
        orientation: "bottom auto",
        format: "yyyy/mm/dd"
    })
        .on('changeDate', function(selected){
            startDate = new Date(selected.date.valueOf());
            startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
            $('#with_date_lte').datepicker('setStartDate', startDate);
        }); 
    $('#with_date_lte')
        .datepicker({
    
            weekStart: 1,
            startDate: startDate,
            endDate: ToEndDate,
            autoclose: true,
            orientation: "bottom auto",
            format: "yyyy/mm/dd"
        })
        .on('changeDate', function(selected){
            FromEndDate = new Date(selected.date.valueOf());
            FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
            $('#with_date_gte').datepicker('setEndDate', FromEndDate);
        });

    $(window).on('resize', function() {
        if($(window).width() < 1060) {
            $('#results-body').removeClass('results-section');
            $('#results-body').addClass('results-section2');
        }else{
            $('#results-body').addClass('results-section');
            $('#results-body').removeClass('results-section2');
        }
    })
});
</script>
