<div class="col results-filter-block">
  <%= puts filterrific.inspect %>
  <%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
    <div class="jumbotron jumbotron-fluid">
      <div class="form-group col-12">
        <div class="row has-search d-flex align-items-center results-block">
            <%= f.text_field :search_query, placeholder: "¿A dónde vas?",
                         :class => 'filterrific-periodically-observed form-control' %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.text_field(:with_date_gte, placeholder: "Fecha de entrada", class: 'form-control datepicker',
                           readonly: true,
                           id: 'with_date_gte') %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.text_field(:with_date_lte, placeholder: "Fecha de salida", class: 'form-control datepicker',
                           readonly: true,
                           id: 'with_date_lte') %>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.submit :Buscar, class: 'form-control btn btn-primary guardar' %>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <h4>&emsp; Filtrar por:</h4>
      <hr class="text-primary">
      <!--FILTRO POR FECHA-->
      <h5>Tu presupuesto (Gs.)</h5>
      <div class="form-row">
        <div class="col-6">
          <%= f.number_field :price_min, id: "price_min", class: "filterrific-periodically-observed form-control number", type: "text", placeholder: "Mínimo Gs." %>
        </div>
        <div class="col-6">
          <%= f.number_field :price_max, id: "price_max", class: "filterrific-periodically-observed form-control number", type: "text", placeholder: "Máximo Gs." %>
        </div>
      </div>

      <!--FIN-->
      <hr>
      <!--FILTRO POR TIPO DE PROPIEDAD-->
      <h5>Tipo de alojamiento </h5>
      <div class="form-group col-12">
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.select :with_estate_type, filterrific.select_options[:with_estate_type],
                       {:include_blank => '- Todos -'},
                       {:class => 'filterrific-periodically-observed form-control'} %>
        </div>
      </div>
      <!--FIN-->
      <hr>
      <!--FILTRO POR PUNTUACION-->
          <%= f.hidden_field :score_min, id:"score_min" %>
          <%= f.hidden_field :score_max, id:"score_max"%>
      <p>
        <label for="amount">Rango de Puntuación:</label>
        <input type="text" id="amount" readonly >
        <span class="fas fa-info-circle score_inf " data-toggle="tooltip" data-placement="right" title="0 sin puntuación"></span>
      </p>

      <div id="slider-range" class= "filterrific-periodically-observed"></div>
      <!--FIN-->
      <hr>
    </div>
  <% end %>
</div>
<script>
    if ($("#price_max").val() == '1000000000') {
        $("#price_max").val('');
    }
    if ($("#price_min").val() == '0') {
        $("#price_min").val('');
    }
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 10,
            value: 0
        });
        $( "#slider-range" ).change(function () {
          let new_min =  $( "#slider-range" ).val()[0];
          let new_max = $( "#slider-range" ).val()[1];
          $( "#amount" ).val( "(" + new_min+ " - " + new_max+")" );
          $("#score_min").val(new_min);
          $("#score_max").val(new_max);
      })
      $( "#amount" ).val( "(" + $( "#slider-range" ).val()[0]+
          " - " + $( "#slider-range" ).val()[1]+")" );
      var fromD;
      var toD;
      var startDate = new Date();
      var FromEndDate = new Date();
      var ToEndDate = new Date();
      ToEndDate.setDate(ToEndDate.getDate() + 365);
      FromEndDate.setDate(FromEndDate.getDate() + 365);
      if ($("#with_date_gte").val() != '') {
          fromD = $("#with_date_gte").val();
          startDate = new Date(fromD);
          startDate.setDate(startDate.getDate()+1);
      }
      if ($("#with_date_lte").val() != '') {
          toD = $("#with_date_lte").val();
          FromEndDate = new Date(toD);
          FromEndDate.setDate(FromEndDate.getDate()-1);
      }
      $('#with_date_gte').datepicker({
          weekStart: 1,
          startDate: new Date(),
          endDate: FromEndDate,
          autoclose: true,
          orientation: "bottom auto",
          format: "yyyy/mm/dd",
          language: 'es',
          todayHighlight: true
      }).on('changeDate', function (selected) {
          startDate = new Date(selected.date.valueOf());
          startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
          let date = new Date();
          date.setDate(startDate.getDate() + 1);
          $('#with_date_lte').datepicker('setStartDate', date);
      });
      $('#with_date_lte').datepicker({
          weekStart: 1,
          startDate: startDate,
          endDate: ToEndDate,
          autoclose: true,
          orientation: "bottom auto",
          format: "yyyy/mm/dd",
          language: 'es',
          todayHighlight: true
      }).on('changeDate', function (selected) {
          FromEndDate = new Date(selected.date.valueOf());
          FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
          let date = new Date();
          date.setDate(FromEndDate.getDate() - 1);
          $('#with_date_gte').datepicker('setEndDate', date);
      });
      $("#manual_filterrific_form").on("submit", function(evt){
          $(".number").each(function (ind, input) {
              input.value = input.value.split(".").join("");
          });
      });

  });
  $(document).ready(function() {
    $(".choose").click(function(e) {
      if( !($("#with_date_gte").val()) ) {
        e.preventDefault();
        $("#with_date_gte").datepicker("show");
      }
      else if ( !($("#with_date_lte").val()) ) {
        e.preventDefault();
        $("#with_date_lte").datepicker("show");
      }
    });
  });
</script>