<section class="bg-white" style="border-radius: 15px;" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        <h1 class="text-info font-title">&emsp;Busca ofertas de hotel</h1>
        <h4 class="font-title">&emsp;La forma m치s f치cil de encontrar hotel</h4>
      </div>
    </div>
  <div class="row main-filter-section">
    <div class="col-2"></div>
    <div class="col-8 align-items-center">
      <%= render(
              partial: "welcome/main_filter",
              locals: {filterrific: filterrific}
          )%>
    </div>

        <!--  Descripciones de la p치gina  -->
        <!--div class="col-4 d-flex align-items-center">
          <%#= render partial: "welcome/descriptions" %>
        </div-->
  </div>
  <br>
</section>
<br>
<section>
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h2 class="text-info font-title">Hoteles con mejor calificaci칩n</h2>
        <hr>
      </div>
    </div>
    <div id="ofertas" class="carousel slide" data-ride="carousel">
      <br>
      <!-- Indicators -->
      <ul class="carousel-indicators text-primary">
        <li data-target="#ofertas" data-slide-to="0" class="active"></li>
        <li data-target="#ofertas" data-slide-to="1"></li>
        <li data-target="#ofertas" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <% i = 0 #each_with_index%>
        <% estates.each do |estate| %>
          <% if ((i%5)==0) %>
            <div class="carousel-item <% if (i==0) %>active<%end %>">
              <div class="d-flex justify-content-around">
                  <div class="col-md-1"></div>
          <%end %>
          <%i = i+1 %>
                <div class="col-md-2">
                  <div class="card">
                    <%= image_tag estate.images.first, class:"card-img-top", height: 180, width: 180, alt:"Card image cap" %>
                    <div class="card-body">
                      <h4 class="card-title">
                        <%= estate.name %>
                      </h4>
                      <small class="text-muted"><%= estate.city_name %> | Mostrar en mapa</small>
                      <p><%= estate.address %></p>
                      <hr>
                      <p class="font-title"><div class="text-right badge badge-<%= get_score_color(estate.score.to_i) %>" style="font-size: 17px;"> <%= estate.score %> </div>
                      <label class="label-score">&nbsp<%=label_score(estate.score) %></label></p>
                    </div>
                  </div>
                </div>
          <% if (i%5)==0 || estates.length() == i %>
                <div class="col-md"></div>
              </div>
            </div>
          <%end %>

        <% end %>
        </div>
        <br>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#ofertas" data-slide="prev">
          <span class="fas fa-chevron-circle-left fa-3x text-info"></span>
        </a>
        <a class="carousel-control-next" href="#ofertas" data-slide="next">
          <span class="fas fa-chevron-circle-right fa-3x text-info"></span>
        </a>
      </div>
  </div>
  <br>
</section>
<section>
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h2 class="text-info font-title">Mejores Ofertas del Mes</h2>
        <hr>
      </div>
    </div>
    <div id="ofertas" class="carousel slide" data-ride="carousel">
      <br>
      <!-- Indicators -->
      <ul class="carousel-indicators text-primary">
        <li data-target="#ofertas" data-slide-to="0" class="active"></li>
        <li data-target="#ofertas" data-slide-to="1"></li>
        <li data-target="#ofertas" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <% j = 0 #each_with_index%>
        <% estates_best_offers.each do |estate_offer| %>
          <% if ((j%5)==0) %>
            <div class="carousel-item <% if (j==0) %>active<%end %>">
              <div class="d-flex justify-content-around">
                <div class="col-md-1"></div>
          <%end %>
          <%j = j+1 %>
          <div class="col-md-2">
            <div class="card">
              <%= image_tag estate_offer.images.first, class:"card-img-top", height: 180, width: 180, alt:"Card image cap" %>
              <div class="card-body">
                <h4 class="card-title">
                  <%= estate_offer.name %>
                </h4>
                <p><div class="text-right badge badge-secondary" style="font-size: 10px;"> <%= estate_offer.score %> </div>
                <label class="label-score" style="font-size: 13px;">&nbsp<%=label_score(estate_offer.score) %></label></p>

                <small class="text-muted"><%= estate_offer.city_name %> | Mostrar en mapa</small>
                <p><%= estate_offer.address %></p>
                <hr>

                <% best_offer = estate_offer.best_offer_of_the_month%>
                <% dates, description, discounts = "" %>
                <% dates = dates.concat("Oferta disponible desde el ", best_offer.date_start.strftime("%d-%m-%Y") , " al ", best_offer.date_end.strftime("%d-%m-%Y")) %>
                <% description = best_offer.description %>
                <h4><strong>Descuentos del</strong></h4>
                <p class="font-title">
                <% best_offer.offer_details.each do |od| %>
                <span class="text-right badge bg-success" style="font-size: 17px;">
                  <%= od.discount.to_s%>%
                </span>
                <%end %>
                </p>
                <p data-toggle="tooltip" data-placement="bottom" title="<%= dates %>"><%= description %></p>

              </div>
            </div>
          </div>
          <% if (j%5)==0 || estates_best_offers.length() == j %>
            <div class="col-md"></div>
            </div>
            </div>
          <%end %>

        <% end %>
      </div>
      <br>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#ofertas" data-slide="prev">
        <span class="fas fa-chevron-circle-left fa-3x text-info"></span>
      </a>
      <a class="carousel-control-next" href="#ofertas" data-slide="next">
        <span class="fas fa-chevron-circle-right fa-3x text-info"></span>
      </a>
    </div>
  </div>
  <br>

</section>