<<<<<<< Updated upstream
<div class="container">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="card card-body bg-secondary mx-auto" style="width: 50rem;">
      <div class="form-group row">
        <div class="col-3">
          <label class="font-weight-bold">Destination</label>
          <%= f.text_field :search_query,
                           :class => 'filterrific-periodically-observed form-control' %>
        </div>

        <div class="col-3">
          <div>
            <label class="font-weight-bold">Check-in</label>
          </div>
        </div>

        <div class="col-3">
          <div>
            <label class="font-weight-bold">Check-out</label>
          </div>
        </div>

        <div>
          <div class="col-12">
            <label class="font-weight-bold">People</label>
                <%= f.select :sorted_by,
                             @filterrific.select_options[:sorted_by],
                             {},
                             {:class => 'form-control'}
                %>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 card-body bg-secondary">
        <div>
          <b>Facilities</b>
          <div class="flex-lg-row-reverse">
          </div>
        </div>
      </div>
      <div class="col">
        <div id="results">
          <%= render(
                  partial: 'welcome/list',
                  locals: {estates: @estates}
              ) %>
        </div>
      </div>
    </div>
  <% end %>
=======

<section class="container">
  <header>
    <h1>
      Busca ofertas de hotel
    </h1>
    <h6>
      La forma más fácil de encontrar hotel
    </h6>
  </header>
  <section class="row main-filter-section" style="height: 300px">
    <div class="col-6" style="background-color: grey">
      <div class="card card-body bg-white mx-auto" style="width: 50rem;">
        <%= puts @filterrific.inspect %>
        <%= form_for_filterrific @filterrific do |f| %>
          <div class="form-group row">
            <div class="col-3">
              <label class="font-weight-bold">Destination</label>
              <%= f.text_field :search_query,
                               :class => 'filterrific-periodically-observed form-control' %>
            </div>

            <div class="col-3">
              <div>
                <label class="font-weight-bold">Check-in</label>
              </div>
            </div>

            <div class="col-3">
              <div >
                <label class="font-weight-bold">Check-out</label>
              </div>
            </div>

            <div>
              <div class="col-3">
                <label class="font-weight-bold">People</label>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6" style="background-color: #5d9cec">
      <p>descripciones</p>
    </div>
  </section>
</section>

<div id="results">
  <%= render(
          partial: 'welcome/list',
          locals: {estates: @estates}
      ) %>
>>>>>>> Stashed changes
</div>
