<%= form_with(model: departament, local: true) do |form| %>
  <% if departament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
        <% departament.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center">
    <div class="col-5">
      <div class="card card-default">
        <div class="card-body">
          <div class="row">
              <div class="card-body height_div">
                <div class="form-group">
                  <label>Descripción </label>
                  <%= form.text_field :name, class: "form-control", required: "required" %>
                </div>
              </div>
          </div>
        </div>
      </div>
      <fieldset>
        <div class="form-group row">
          <%= link_to 'Atras', departaments_path, class: "btn btn-secondary" %>
          <%= form.submit 'Guardar', class: "btn btn-primary" %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
