<div>
  <table class="table table-striped table-hover w-100 col-5">
    <thead class="thead-light">
    <tr>
      <th class="text-center">Departamentos</th>
      <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% departaments.each do |departament| %>
      <tr>
        <td class="text-left"><%= departament.name %></td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <%= link_to departament do %>
              <button class="btn btn-link text-primary" title="Ver"><i class="fas fa-eye"></i></button>
            <% end %>
            <%= link_to edit_departament_path(departament) do %>
              <button class="btn btn-link text-primary" title="Editar"><i class="fas fa-edit"></i></button>
            <% end %>
            <%= link_to departament, method: :delete, data: {confirm: 'Estás seguro?'} do %>
              <button class="btn btn-link text-danger" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
            <% end %>
          </div>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="card card-columns-2 card-body bg-gray-light col-5">
  <div class="row row-flush">
    <div class="col">
      <%= will_paginate departaments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <div class="col">
      <%= page_entries_info departaments, :model => 'departament', :class => 'align-middle' %>
    </div>
  </div>
</div>