<div class="card">
  <div class="card-header"><h4>&emsp; Comentarios:</h4></div>

  <div class="card-body scroll_comment">
    <% comments.each do |c| %>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col"><b class="text-primary"><%= c.client_name %></b></div>
            <div class="col-3">
              <%if c.isRatingDanger %>
                <div class="text-right badge badge-pill badge-danger"> <%= c.rating %> </div>
              <%elsif c.isRatingWarning %>
                <div class="text-right badge badge-pill badge-warning"> <%= c.rating %> </div>
              <%else %>
                <div class="text-right badge badge-pill badge-success"> <%= c.rating %> </div>
              <%end %>
            </div>
          </div>
          <p><%= c.description %></p>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>