<div class="card">
  <div class="card-header"><h4>&emsp; Comentarios:</h4></div>

  <div class="card-body scroll_comment">
    <% comments.each do |c| %>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col"><b class="text-primary"><%= c.client_name %></b></div>
            <div class="col-3">
              <% if c.isRatingDanger %>
                <div class="text-right badge badge-pill badge-danger"> <%= c.rating %> </div>
              <% elsif c.isRatingWarning %>
                <div class="text-right badge badge-pill badge-warning"> <%= c.rating %> </div>
              <% else %>
                <div class="text-right badge badge-pill badge-success"> <%= c.rating %> </div>
              <% end %>
            </div>
          </div>
          <p><%= c.description %></p>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="card-footer align-items-center">
    <button type="button" id="btnComment" class="btn btn-primary" data-toggle="modal" data-target="#save-comment">Comentar</button>
  </div>

  <div class="modal fade" id="save-comment" tabindex="-1" role="dialog" aria-labelledby="save-commentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agrega un comentario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag(save_comments_path, remote: true, method: :post) do %>
            <div class="form-group">
              <label class="col-form-label">Nombre:</label>
              <% if user_signed_in? %>
                <input name="client_name" type="text" class="form-control" autocomplete ="off" value=<%= current_user.name %> readonly>
              <% else %>
                <input name="client_name" type="text" class="form-control" autocomplete ="off">
              <% end %>

            </div>
            <div class="form-group">
              <label class="col-form-label">Email:</label>
              <% if user_signed_in? %>
                <input name="client_email" type="text" class="form-control" autocomplete ="off" value=<%= current_user.email %> readonly>
              <% else %>
                <input name="client_email" type="text" class="form-control" autocomplete ="off">
              <% end %>
            </div>
            <div class="form-group">
              <label class="col-form-label">Puntuación:</label>
              <input name="rating" type="text" class="form-control" type="number" autocomplete ="off">
            </div>
            <input id="estate_id" name="estate_id" class="form-control" type="hidden" autocomplete ="off">
            <div class="form-group">
              <label class="col-form-label">Comentario:</label>
              <textarea name="description" class="form-control" id="message-text" autocomplete ="off"></textarea>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <%= submit_tag "Guardar", id: 'save-comments', name: 'nil', class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnComment").click(function () {
            $('#estate_id').val($('#estate-attr').val());
        });
    });

</script>
