<%= form_with(model: estate, local: true, method: 'post') do |form| %>
  <% if estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
        <% estate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default">
        <div class="card-header">
          <h5><strong>Nombre y Ubicacion</strong></h5>
        </div>
        <div class="card-body">
            <div class="form-group">
              <label>Nombre de la propiedad *</label>
              <%= form.text_field :name, class: "form-control", required: "required" %>
            </div>
            <div class="form-group">
              <label>Direccion de calle *</label>
              <%= form.text_field :address, class: "form-control", required: "required" %>
            </div>
            <div class="form-group">
              <label>Ciudad *</label>
              <%= form.select :city_id,
                              options_from_collection_for_select(City.all, "id", "name", form.object.city_id),
                              class: "custom-select custom-select-sm", required: "required" %>
            </div>
        </div>
      </div>
      <!-- END card-->
    </div>
    <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default">
        <div class="card-header">
          <h5><strong>Fotos</strong></h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Agrega al menos una foto a tu propiedad</label>
          </div>
          <div id="dropzone-area">
            <%= form.file_field :images, multiple: true, class: "dropzone mb-3 card d-flex flex-row justify-content-center flex-wrap" %>
            <div id="dropzone-previews"></div>
          </div>
        </div>
      </div>
      <!-- END card-->
    </div>
  </div>

  <%= form.hidden_field :owner_id %>
  <div class="content-heading">Habitaciones</div>
  <div class="card card-default">
    <div class="card-body">
      <%= form.fields_for :rooms, @rooms do |f| %>
        <%= render 'room_form', f: f %>
      <% end %>
    </div>
  </div>
  <fieldset>
    <div class="form-group row">
      <div class="col-md-4">
        <%= link_to 'Atras', estates_path, class: "btn btn-secondary" %>
        <%= form.submit 'Guardar datos', class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
