<%= form_with(model: estate, local: true, id: 'form-estate') do |form| %>
  <% if estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
        <% estate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4">
          <h5><strong>Selecciona el tipo de tu propiedad: </strong></h5>
        </div>
        <div class="col-xl-2">
          <!-- START card-->
          <label class="c-radio">
            <%= form.radio_button :estate_type, 'one_apartment', id: "inlineradio10", checked: "checked" %>
            <span class="fa fa-building"></span>Un depertamento
          </label>
          <!-- END card-->
        </div>
        <div class="col-xl-2">
          <!-- START card-->
          <label class="c-radio">
            <%= form.radio_button :estate_type, 'home', id: "inlineradio20" %>
            <span class="fa fa-home"></span>Una casa
          </label>
          <!-- END card-->
        </div>
        <div class="col-xl-2">
          <!-- START card-->
          <label class="c-radio">
            <%= form.radio_button :estate_type, 'hotel', id: "inlineradio30" %>
            <span class="fa fa-hotel"></span>Hotel
          </label>
          <!-- END card-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default h-100">
        <div class="card-header">
          <h5><strong>Nombre y Ubicacion</strong></h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Nombre de la propiedad *</label>
            <%= form.text_field :name, class: "form-control", required: "required", placeholder: "Dale un nombre a tu propiedad." %>
          </div>
          <div class="input-group">
            <%= form.text_field :address, class: "form-control", required: "required", placeholder: "Agrega tu direccion." %>
            <span class="input-group-btn">
              <button id = "btn-location" onclick="initMap2()" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">
                <em id="location-icon" class="fas fa-map-marker-alt"></em> Agregar Ubicación
              </button>
            </span>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="form-group">
                  <%= form.hidden_field :latitude , id: "latitude"%>
                  <%= form.hidden_field :longitude, id: "longitude" %>
                  <p>
                  <div id="map2" ></div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Ciudad *</label>
            <%= form.select :city_id,
                            options_from_collection_for_select(City.all, "id", "name", form.object.city_id),
                            {:include_blank => '- Todos -'},
                            {:class => '', :required => 'required'}%>
          </div>
          <h5><strong>Comodidades</strong></h5>
          <div class="row scroll_facility">

            <%= form.collection_check_boxes :facility_ids, estate_facilities, :id, :description do |m| %>
              <div class="col-4">
                <div class="form-check form-check-inline">
                  <label class="checkbox c-checkbox c-checkbox-rounded"> <%= m.check_box %>
                    <span class="fa fa-check"></span><%= m.label %></label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- END card-->
    </div>
    <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default h-100">
        <div class="card-header">
          <h5><strong>Fotos</strong></h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Agrega al menos una foto a tu propiedad</label>
          </div>
          <div>
            <fieldset>
              <div id="" class="field">
                <%= form.label "Sube la foto de tu propiedad: " %>
                <%= form.file_field :images, multiple: true, id: "pictureInput", required: "required", accept: "image/*", direct_upload: true %>
              </div>
              <div id="target" class="scroll_images card d-flex flex-row justify-content-center flex-wrap">
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <label>Descripcion *</label>
            <%= form.text_area(:description, class: 'form-control', required: 'required', rows: 3) %>
          </div>
        </div>
      </div>
      <!-- END card-->
    </div>
  </div>

  <%= form.hidden_field :owner_id %>
  <br/>
  <div class="content-heading">Habitaciones</div>
  <div class="card card-default">
    <div class="card-body">
      <%= form.fields_for :rooms, rooms do |f| %>
        <%= render 'room', f: f, room_facilities: room_facilities %>
      <% end %>
      <%= link_to_add_fields "Agregar habitacion", form, :rooms, room_facilities %>
    </div>
  </div>
  <fieldset>
    <div class="form-group row">
      <div class="col-md-4">
        <%= link_to 'Atras', estates_path, class: "btn btn-secondary" %>
        <%= form.submit 'Guardar datos', class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
<script>
    <%= render "selects.js" %>

    $("#form-estate").on("submit", function (evt) {
        $(".number").each(function (ind, input) {
            input.value = input.value.split(".").join("");
        });
    });
</script>

