<div class="jumbotron jumbotron-fluid">
  <div class="col-12 results-filter-block">
    <%= puts filterrific.inspect %>
    <%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
      <div class="form-group">
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.text_field :search_query, placeholder: "¿Qué ciudad búscas?",
                           :class => 'filterrific-periodically-observed form-control',
                           :value => params[:city]%>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.text_field(:with_date_gte, placeholder: "Fecha de entrada", class: 'input-sm form-control date_start',
                         :'id' => 'with_date_gte',
                         :'value' => params[:from],
                         readonly: true )%>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.text_field(:with_date_lte, placeholder: "Fecha de salida", class: 'input-sm form-control date_end',
                         :'id' => 'with_date_lte',
                         :'value'=> params[:to],
                         readonly: true )%>
        </div>
        <div class="row has-search d-flex align-items-center results-block">
          <%= f.submit :Buscar, class: 'form-control btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!--COMENTARIOS-->
<div class="card">
  <div class="card-header"><h4>&emsp; Comentarios:</h4></div>

  <div class="card-body scroll_comment">
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col"><b class="text-primary">Pamela Tamay</b></div>
            <div class="col-3">
              <div class="text-right badge badge-pill badge-danger"> 5,0 </div>
            </div>
          </div>
          <p>Este hotel no tenia los servicio necesarios, le faltaba .....</p>
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col"><b class="text-primary">Junior Rojas</b></div>
            <div class="col-3">
              <div class="text-right badge badge-pill badge-success"> 9,5 </div>
            </div>
          </div>
          <p>Me parecio que tenia un servicio muy atento, además de cumplir con todo lo que dice en la pagina, lo recomiendo.</p>
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col"><b class="text-primary">Federico Velazquez</b></div>
            <div class="col-3">
              <div class="text-right badge badge-pill badge-warning"> 7,6 </div>
            </div>
          </div>
          <p>Me gusto mucho el hotel y creo que el servicio es adecuado pero tuve un inconveniente al llegar y resgistrarme ya que no figuraba correctamente.</p>
        </div>
      </div>
      <hr>
  </div>
</div>
<script>
$(function() {
    var fromD;
    var toD;
    var startDate = new Date();
    var FromEndDate = new Date();
    var ToEndDate = new Date();
    ToEndDate.setDate(ToEndDate.getDate()+365);
    FromEndDate.setDate(FromEndDate.getDate()+365);
    if($("#with_date_gte").val() != ''){
        fromD = $("#with_date_gte").val();
        startDate = new Date(fromD);
        startDate.setDate(startDate.getDate(new Date(fromD)));
    }
    if($("#with_date_lte").val() != ''){
        toD = $("#with_date_lte").val();
        FromEndDate = new Date(toD);
        FromEndDate.setDate(FromEndDate.getDate(new Date(toD)));
    }
    $('#with_date_gte').datepicker({
          weekStart: 1,
          startDate: startDate,
          endDate: FromEndDate,
          autoclose: true,
          orientation: "bottom auto",
          format: "yyyy/mm/dd",
          language: 'es',
          todayHighlight: true
        }).on('changeDate', function(selected){
              startDate = new Date(selected.date.valueOf());
              startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
              $('#with_date_lte').datepicker('setStartDate', startDate);
    });
    $('#with_date_lte').datepicker({
              weekStart: 1,
              startDate: startDate,
              endDate: ToEndDate,
              autoclose: true,
              orientation: "bottom auto",
              format: "yyyy/mm/dd",
              language: 'es',
              todayHighlight: true
    }).on('changeDate', function(selected){
              FromEndDate = new Date(selected.date.valueOf());
              FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
              $('#with_date_gte').datepicker('setEndDate', FromEndDate);
    });
    $(".number").on("keyup", function(event ) {
        let input = $(event.target).val();
        input = input.replace(/[\D\s\._\-]+/g, "");
        input = input?parseInt(input, 10):0;
        $(event.target).val(function () {
            let num = (input === 0)?"":input.toLocaleString("en-US");
            return num.split(",").join(".");
        });
    });
  });
</script>