<div class="row">
    <div class="col">
      <div class="card card-default">
        <div class="card-header"><h5><strong>Disponibilidad</strong></h5></div>
        <!-- START table-responsive-->
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
            <tr>
              <th hidden="true"></th>
              <th>Tipo de habitacion</th>
              <th>Capacidad</th>
              <th>Precio</th>
              <th>Seleccionar habitacion</th>
            </tr>
            </thead>
            <tbody id="rooms">
            <% rooms.each do |r| %>
              <tr>
                <td class="col-2">
                  <%= link_to r.description, room_estate_path(r.id), class: 'btn btn-link', remote: true %>
                </td>
                <td class="col-2" data-toggle="tooltip" data-placement="left" title="Capacidad: <%= r.capacity %>">
                  <% if r.capacity.to_i >= 5 %>
                    <em class="fa-lg fas fa-users"> 5 +</em>
                  <% else %>
                    <% r.capacity.to_i.times do %>
                      <em class="fa-lg fas fa-user"></em>
                    <% end %>
                  <% end %>
                </td>
                <% day_offers = [] %>
                <% discounts = [] %>
                <% descriptions = [] %>
                <% total = 0 %>
                <td class="col-2 price" id="price">
                  <%=number_to_currency(r.price, :unit => "Gs", :separator => ".", :precision => 0) %>
                  <br>
                  <% description = '' %>
                  <% contains = false %>
                  <% day = Date.parse(from) %>
                  <% (1..diff).each do |_| %>
                    <% price = r.price %>
                    <% offers.each_with_index do |offer, i| %>
                      <% if (offer.date_start .. offer.date_end).cover?(day) %>
                        <% offer.offer_details.each do |detail| %>
                          <% if detail.room.id == r.id %>
                            <% discounts[i] =  detail.discount %>
                            <% day_offers[i].nil? ? day_offers[i] = 1 : day_offers[i] += 1 %>
                            <% descriptions.push(offer.description.to_s) %>
                            <% price -= (r.price * detail.discount) / 100 %>
                            <% contains = true %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% total+= price %>
                    <% day+= 1.day %>
                  <% end %>
                  <% if contains %>
                    <% day_offers = day_offers.compact %>
                    <% discounts = discounts.compact %>
                    <% descriptions = descriptions.uniq %>
                    <% descriptions.each_with_index do |d, i| %>
                      <% description+= d + ' ('+day_offers[i].to_s + (day_offers[i]>1? ' dias' : ' día').to_s + ' de oferta).'+"\n" %>
                    <% end %>
                    <span class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="left" title="<%= description %>">Oferta</span>
                  <% end %>
                </td>
                <td id="price_total" hidden="true"><%=total%></td>
                <td class="col-2">
                  <label>
                    <select class="custom-select custom-select-sm quantity" id="quantity" onchange="addValues()">
                      <option value="0">0</option>
                      <% (r.quantity != nil ? r.quantity : 0).times do |q| %>
                        <option><%= q + 1 %></option>
                      <% end %>
                    </select>
                  </label>
                </td>
                <td id="booking_info" hidden="true">
                  <div class="room_id" hidden="true"><%=r.id%></div>
                  <div class="price" hidden="true"><%=r.price%></div>
                  <div class="discounts" hidden="true"><%=discounts%></div>
                  <div class="day_offers" hidden="true"><%=day_offers%></div>
                  <div class="offer_descriptions" hidden="true"><%=descriptions%></div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- END table-responsive-->
      </div>
    </div>
    <div class="col col-lg-3">
        <div class="card card-default mb-4">
          <div class="card-body">
            <h5><strong>Total</strong></h5>
            <h5>Estancia de <span id="diff"><%=diff%></span> noche<%=plural_arg%></h5>
            <label id="price_normal_label" hidden="true" for="price_normal">Precio Normal</label><input id="price_normal" class="form-control" type="text" hidden="true" disabled/>

            <br id="br" hidden="true">
            <label id="total_label" hidden="true" for="total">Precio con Oferta</label><input class="form-control" id="total" type="text" disabled/>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" id="book">Reservar</button>
          </div>
        </div>
    </div>
</div>
<div id="room-content"></div>
<script>
  const book = $('#book');
  $(document).ready(function () {
      book.prop('disabled', true);

  });

  function addValues() {
      let total = 0;
      let total2 = 0;
      $('tbody tr').each(function () {
          total2+= parseInt($('#price_total', this).text().split(".").join("")) * parseInt($('option:selected', this).text());
          let sum = parseInt($('option:selected', this).text()) * parseInt($('#price', this).text().split(".").join(""));
          total = (total + sum);
      });
      total = total  * $("#diff").text();
      $('#total').val(total2.toLocaleString("en-US").split(",").join(".") + " Gs");
      $('#price_normal').val(total.toLocaleString("en-US").split(",").join(".") + " Gs");
      total === 0 ? book.prop('disabled', true) : book.prop('disabled', false);
      if(total > total2) {
          $('#price_normal').attr('hidden', false);
          $('#price_normal_label').attr('hidden', false);
          $('#total_label').attr('hidden', false);
          $('#price_normal').css("text-decoration", "line-through");
          $('#price_normal').css("color", "gray");
          $('#br').attr('hidden', false);
      }
      else {
          $('#br').attr('hidden', true);
          $('#price_normal').attr('hidden', true);
          $('#price_normal_label').attr('hidden', true);
          $('#total_label').attr('hidden', true);
      }
  }

  $(function () {
      $('[data-toggle="tooltip"]').tooltip()
  });
</script>
