<%= render 'owners/tabs', id: 'visited_places' %>
<div class="container">
  <div class="form-row">
    <div class="col">
      <table class="table table-bordered">
        <% estates.each do |estate| %>
          <tr>
            <td class="results-background">
              <div class="media align-items-center">
                <a class="mr-4" href="#">
                  <%= image_tag estate.images.first, alt: "rss feed", height: 100, width: 100 %>
                </a>
                <div class="media-body d-flex">
                  <div class="">
                    <h4 class="m-0" style="font-size:25px"><%= estate.name %></h4>
                    <small class="text-muted"><%= estate.city_name %> | Mostrar en mapa</small>
                    <p><%= estate.description %></p>
                  </div>
                  <div class="ml-auto">
                    <label class="label-score text-muted"><%=label_score(estate.score) %></label>
                    <%if  estate.score > 0%>
                      <div class="text-right badge badge-pill badge-<%= get_score_color(estate.score.to_i) %>">
                      <span><%= estate.score %></span>
                    </div>
                    <%end %>
                  </div>
                </div>
              </div>
              <div class="media-body d-flex">
                <div class="btn-group ml-auto" role="group">
                  <%= link_to show_visited_estate_path(estate.id) do %>
                    <button class="btn btn-sm btn-primary">Detalles</button>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="bg-footer"></div>
      <div class="card card-columns-2 card-body bg-gray-light fixed-bottom">
        <div class="row row-flush">
          <div class="col col-6 align-items-center">
            <%= will_paginate estates, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          </div>
          <div class="col col-9">
            <%= page_entries_info estates, :model => 'estate', :class => 'align-middle' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>