<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(<%=@estate.latitude%>, <%=@estate.longitude%>)
      });
  </script>
<% end %>
<div class="row results-filter-section">
  <!--COMENTARIOS-->
  <div class="col-2">
    <%= render partial: "estates/comments", :locals => { comments: comments, can_comment: can_comment, email: email, name: name} %>
  </div>
  <!-- TITLES -->
  <div class="col-10">
    <div class="container box-placeholder">
      <!-- TITLES -->
      <div class="col-12">
        <div class="row title-section">
          <div class="col-12 d-flex align-items-center">
            <div class="row">
              <div class="col-12">
                <h1 class="text-info" id="estate-title">
                  <%= @estate.name %>
                </h1>
              </div>
              <div class="col-12 d-flex align-items-center">
                <button id = "btn-location"  type="button" data-toggle="modal" data-target="#myModal" class="btn btn-link">
                  <em id="location-icon" class="fas fa-map-marker-alt"></em> Ver Mapa
                </button>
                <%= render partial: "layouts/partials/modal",:locals => { id: "map", text: "", title: "Ubicación", btn_text: "Cerrar"}%>
                <span>
                  <%= @estate.address %>
                  <input id="estate-attr" type="hidden" value=<%= @estate.id %>>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END -->
      <br>
      <!-- DESCRIPTION SECTION -->
      <div class="col-12">
        <div class="container">
          <p class="col-12" id="description-text">
            &emsp;&emsp;<%= @estate.description %>
          </p>
          <p class="col-12" id="description-text">
            <% if @estate.booking_cancelable? %>
              &emsp;&emsp;<span class="badge badge-green float-center">Se permite la cancelación de reservas</span>
            <% else %>
              &emsp;&emsp;<span class="badge badge-warning float-center">No se permite la cancelación de reservas</span>
            <% end %>
          </p>
        </div>
      </div>

      <!-- END -->

      <!-- ESTATE DETAILS -->
      <div class="col-12" id="estate-details">
        <div class="row details">
          <div class="col-md-8 col-sm-12" id="carousel-div">

            <%= render partial: "estates/show_images", :locals => { images: @estate.images, h_size: '340px'} %>

          </div>
          <div class="col-md-4 col-sm-12" id="facilities-div">
            <div class="row">
              <div class="col-12 facilities-title">
                <h3>Comodidades</h3>
              </div>
              <div class="col-12 overflow-auto facilities-list-div">
                <%= render partial: "estates/facilities_list", :locals => { facilities: @estate.facilities_estates } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END -->
      <!-- Availability table -->
      <div class="card-body">
        <br/>
        <div class="content-heading">Habitaciones</div>
        <%= render 'room_detail_list', rooms: @rooms, estate: @estate %>
      </div>
      <% if user_signed_in? && is_owner? && (estate.owner_id == current_owner.id) %>
        <%= link_to 'Volver Atrás', estates_path, class: "btn btn-outline-primary" %>
      <%else %>
        <%= link_to 'Volver Atrás', visited_estates_path, class: "btn btn-outline-primary" %>
      <%end %>
    </div>
  </div>
</div>