<p>
  <strong>Name:</strong>
  <%= @estate.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @estate.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @estate.city_id %>
</p>

<p>
  <strong>Status:</strong>
  <% if @estate.status == false %>
    <%= "Cerrado" %>
  <% else %>
    <%= "Abierto" %>
  <% end %>
<p>

<div class="field">
  <% @estate.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>

<div id="results">
  <%= render(
          partial: 'estates/facilities_list',
          locals: {facilities: @facilities}
      ) %>
</div>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>
