<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @estate.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @estate.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @estate.city_id %>
</p>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>
