<div class="container-fluid box-placeholder">
  <!-- TITLES -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-1 col-sm-1 d-flex justify-content-center align-items-center">
        <i class="fa-3x fas fa-home" id="estate-t-icon">
        </i>
      </div>
      <div class="col-md-11 col-sm-1 d-flex align-items-center">
        <div class="row">
          <div class="col-12">
            <h1 id="estate-title">
              <%= @estate.name %>
            </h1>
          </div>
          <div class="col-12 d-flex align-items-center">
            <em class="mr-1 fa-1x fas fa-map-marker-alt">
            </em>
            <span>
              <%= @estate.address %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
  <hr class="my-2" style="height: 2px;">
  <!-- ESTATE DETAILS -->
  <div class="col-12" id="estate-details">
    <div class="row details">
      <div class="col-md-9 col-sm-12" id="carousel-div">
        <%= render partial: "estates/show_images", :locals => { images: @estate.images } %>
      </div>
      <div class="col-md-3 col-sm-12 overflow-auto" id="facilities-div">
        <%= render partial: "estates/facilities_list", :locals => { facilities: @facilities } %>
      </div>
    </div>
  </div>
  <!-- END -->
  <br class="col-12">
  <!-- DESCRIPTION SECTION -->
  <div class="col-12">
    <dl class="row">
      <dt class="col-sm-3">Descripcion:</dt>
      <dd class="col-sm-9">Es un excelente hotel.</dd>
    </dl>
  </div>
  <!-- END -->

  <!-- Availability table -->
  <br/>
  <div class="col-12">
    <%= render 'room_list', rooms: @rooms %>
  </div>
</div>