<div class="container">
  <div class="row justify-content-center">
<div class="card col-6" >
  <article class="card-body">
    <h2 class="card-title text-center mb-4 mt-1">Iniciar Sesión</h2>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <%= f.text_field :login, autofocus: true, autocomplete: "login", placeholder: "Nombre de usuario o Correo electrónico", class: "form-control" %>
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <% if devise_mapping.rememberable? %>
          <div class="custom-control custom-checkbox mr-sm-2">
            <%= f.check_box :remember_me, class: "custom-control-input", class:"custom-control-input", id: "customControlAutosizing" %>
            <label class="custom-control-label" for="customControlAutosizing">Recordarme</label>
          </div>
          <br>
        <% end %>
        <div class="form-group">
          <%= f.submit "Login" ,class: "btn btn-primary btn-block"%>
        </div> <!-- form-group// -->
        <p class="text-center"><%= render "devise/shared/links" %></p>
      </form>
    <% end %>
  </article>
</div> <!-- card.// -->
  </div>
</div>