<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center">
    <div class="card card-default col-10">
      <div class="card-body">
        <div class="row" align="left">
          <div class="col-md-8">
            <div class="card-body">
              <div class="form-group col-10">
                <label>Propiedad</label>
                <input type="text" class="form-control valid" value="<%= estate_name %>" disabled>
                <%= form.hidden_field :estate_id %>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group col-10">
                <label>Descripción *</label>
                <%= form.text_field :description, class: "form-control", required: "required" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <div class="form-group  ">
                <label>Desde</label>
                <%= form.date_field :date_start, min: Date.today, class: "form-control", required: "required" %>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Hasta </label>
                <%= form.date_field :date_end, min: Date.today, class: "form-control", required: "required" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @offer.estate_id != nil %>
    <div align="center">
      <div class="card card-default col-10">
        <div class="card-body">
          <p class="lead bb">DETALLES</p>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <table class="table">
                <thead class="table-primary">
                <tr class="row table-primary">
                  <th class="col-7">Habitacion</th>
                  <th class="col-3">Descuento</th>
                  <th class="col-2">Accion</th>
                </tr>
                </thead>
                <tbody id="invoices-items-table">
                <%= form.fields_for :offer_details, offer_details do |f| %>
                  <%= render 'offer_detail', f: f %>
                <% end %>
                </tbody>
              </table>
              <%= link_to_add_fields "Agregar habitacion", form, :offer_details, nil %>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div align="center">
    <div class="col-10">
      <fieldset>
        <div class="form-group row">
          <%= link_to 'Atras', estates_path, class: "btn btn-secondary" %>
          <%= form.submit 'Guardar', class: "btn btn-primary" %>
        </div>
      </fieldset>
    </div>
  </div>

<% end %>
