<%= render 'owners/tabs', id: 'offers' %>
<p id="notice"><%= notice %></p>

<div class="content-heading">
  <div>Ofertas de mis propiedades</div>

  <div class="ml-auto">
    <%= link_to new_offer_path do %>
      <button class="btn btn btn-info" title="Nueva oferta">
        <i class="fas fa-plus text-light fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<%= render partial: "offers/filter", :locals => {filterrific: filterrific} %>
<div id="filterrific_results">
  <%= render partial: "offers/list", :locals => {offers: offers} %>
</div>