<div class="content-heading">Ofertas</div>
<div align="center">
  <div class="col-6">
    <div class="card card-default">
      <div class="card-body">
        <h1 class="">Ofertas de <%= offer.estate_name %></h1>
        <p class="lead bb text-left">Descripción</p>
        <div class="form-group row" >
          <div class="col text-left">
            <%= @offer.description %>
          </div>
        </div>
        <p class="lead bb text-left">Fechas</p>
        <div class="form-group" align="left">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Creacion: </b><%= @offer.date_creation.strftime("%d/%m/%Y") %>
            </li>
            <li class="list-group-item">
              <b>Desde: </b><%= @offer.date_start.strftime("%d/%m/%Y") %>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <b>Hasta: </b><%= @offer.date_end.strftime("%d/%m/%Y") %>
            </li>
          </ul>
        </div>
        <p class="lead bb text-left">Lista de habitaciones</p>
        <table class="table">
          <thead class="table-primary">
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Precio normal</th>
            <th class="text-center">Descuento</th>
            <th class="text-center">Precio con descuento</th>
          </tr>
          </thead>
          <tbody>
          <% @offer.offer_details.each do |m| %>
            <tr>
              <td class="text-center"><%= m.room.description %></td>
              <td class="text-center"><%= m.room.room_type.text %></td>
              <td class="text-center"><%= number_to_currency(m.room.price, :unit => "Gs", :separator => ".", :precision => 0) %></td>
              <td class="text-center"><%= m.discount %>%</td>
              <td class="text-center"><%= number_to_currency(m.price_with_discount(m.room.price), :unit => "Gs", :separator => ".", :precision => 0) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <fieldset>
      <div class="btn-group row">
        <%= link_to 'Atras', offers_path, class: "btn btn-secondary" %>
        <%= link_to 'Editar', edit_offer_path(@offer), class: "btn btn-primary" %>
      </div>
    </fieldset>
  </div>
</div>