
<h1>Ciudades</h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover">


  <thead>
    <tr>
      <th>Ciudad</th>
      <th>Departamento</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.departament.name %></td>
        <td><%= link_to 'Ver', city %></td>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<%= link_to 'Nueva Ciudad', new_city_path, :class => "mb-1 btn btn-primary"%>
