<!-- START Top Navbar-->
<nav class="navbar topnavbar row">
  <!-- START navbar header-->
  <div class="navbar-header">
    <%= link_to welcome_index_path do %>
      <img class="img-fluid" src="<%= image_path('angle/logo.png') %>" alt="App Logo">
    <%end %>
  </div>
  <!-- END navbar header-->
  </ul>
  <!-- END Left navbar-->
  <!-- START Right Navbar-->
  <ul class="navbar-nav flex-row">
    <!-- START OPTIONS -->
    <li class="nav-item d-none d-md-block">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? && is_owner? %>
            <li class="nav-item active">
              <%= link_to 'Mis propiedades', estates_path, :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to 'Registrar tu propiedad', new_estate_path, :class => "nav-link" %>
            </li>
          <% end %>

          <% if user_signed_in? && is_owner? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ciudades
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to 'Ciudades', cities_path, :class => "nav-link" %></a>
                <a class="dropdown-item"><%= link_to 'Departamentos', departaments_path, :class => "nav-link"  %></a>
              </div>
            </li>
          <%end %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in? %>
                <%= current_user.email  %>
              <% else %>
                Iniciar Sesi칩n
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <a class="dropdown-item"><%= link_to 'Cambiar Contrase침a', edit_user_registration_path, :class => "nav-link" %></a>
                <a class="dropdown-item"><%= link_to "Cerrar Sesi칩n", destroy_user_session_path, method: :delete, :class => "nav-link"  %></a>
              <% else %>
                <a class="dropdown-item"><%= link_to "Iniciar Sesi칩n", new_user_session_path, :class => "nav-link" %></a>
                <a class="dropdown-item"><%= link_to "Registrarse", new_user_registration_path, :class => "nav-link" %></a>
              <% end %>
            </div>
          </li>
        </ul>
      </nav>
    </li>
    <!-- END OPTIONS  -->
  </ul>
  <!-- END Right Navbar -->
</nav>
<!-- END Top Navbar-->