<!-- START Top Navbar-->
<nav class="navbar topnavbar">
  <!-- START navbar header-->
  <div class="navbar-header" style="background-color: black">
      <% link_to 'Nova Booking', welcome_index_path %>
  </div>
  <!-- END navbar header-->
  <!-- START Left navbar-->
  <ul class="navbar-nav mr-auto flex-row">

    <!-- START User avatar toggle-->
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" id="user-block-toggle">
        <em class="icon-user"></em>
        <% if user_signed_in? %>
          <%= current_user.email  %>
        <% end %>
      </a>
    </li>
    <!-- END User avatar toggle-->

  </ul>
  <!-- END Left navbar-->
  <!-- START Right Navbar-->
  <ul class="navbar-nav flex-row">
    <!-- START OPTIONS -->
    <li class="nav-item d-none d-md-block">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Mis propiedades', estates_path, :class => "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Editar perfil', edit_user_registration_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => "nav-link"  %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to 'Registrar tu propiedad', new_estate_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Registrarse", new_user_registration_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Iniciar Sesion", new_user_session_path, :class => "nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </li>
    <!-- END OPTIONS  -->
  </ul>
  <!-- END Right Navbar -->
</nav>
<!-- END Top Navbar-->