<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Inicio', dashboard_path, :class => "nav-link", :id => "dashboard" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Propiedades mejor valoradas', reports_most_valuated_estates_path, :class => "nav-link", :id => "most_valuated" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Propiedades más comentadas', reports_most_commented_estates_path, :class => "nav-link", :id => "most_commented" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Propiedades mas visitados', reports_most_booked_estates_path, :class => "nav-link", :id => "most_visited" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Propiedades registradas', all_estates_path, :class => "nav-link", :id => "registered_estates" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Propietarios registrados', owners_path, :class => "nav-link", :id => "registered_owners"%>
  </li>
  <li class="nav-item">
    <%= link_to 'Comodidades', facilities_path, :class => "nav-link", :id => "facilities" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Ciudades', cities_path, :class => "nav-link", :id => "cities" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Departamentos', departaments_path, :class => "nav-link", :id => "departments" %>
  </li>
</ul>
<br>
<script>
    $(() => {$('#' + (<%= id %>).id).toggleClass('active')});
</script>