<div class="content-heading align-content-center">
  Administraci&oacute;n Nova Booking
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 border-primary">
        <div class="h3 text-center card-header bg-primary"><%= link_to 'Propiedades mejor valoradas', reports_most_valuated_estates_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 card-text">Ver las propiedades con mejor valoraci&oacute;n</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 border-info">
        <div class="h3 text-center card-header bg-info"><%= link_to 'Propiedades más comentadas', reports_most_commented_estates_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 card-text">Ver las propedades con mayor cantidad de comentarios</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 border-success">
        <div class="h3 text-center card-header bg-success"><%= link_to 'Propiedades más visitadas', reports_most_booked_estates_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 card-text">Ver las propiedades m&aacute;s visitadas</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 border-success">
        <div class="h3 text-center card-header bg-success"><%= link_to 'Propiedades registradas', all_estates_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 text-center card-text">Ver todas las propiedades registradas</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 border-danger">
        <div class="h3 text-center card-header bg-danger"><%= link_to 'Propietarios registrados', owners_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 text-center card-text">Ver todos los propietarios registrados</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 border-primary">
        <div class="h3 text-center card-header bg-primary"><%= link_to 'Comodidades', facilities_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 text-center card-text">Ver todas las comodidades registradas</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 border-info">
        <div class="h3 text-center card-header bg-info"><%= link_to 'Ciudades', cities_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 text-center card-text">Ver todas las ciudades registradas</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 border-warning">
        <div class="h3 text-center card-header bg-warning"><%= link_to 'Departamentos', departaments_path, :class => "text-white" %></div>
        <div class="card-body">
          <p class="h4 text-center card-text">Ver todos los departamentos registrados</p>
        </div>
      </div>
    </div>
  </div>
</div>
