<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>NovaBooking</title>
  <!-- =============== GOOGLE MAP ===============-->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key.to_s %>

  <%= yield(:head_tags) %>
  <!-- =============== VENDOR STYLES ===============-->
  <%= stylesheet_link_tag 'base' %>
  <!-- =============== VIEW VENDOR STYLES ===============-->
  <%= stylesheet_link_tag params[:controller] %>
  <%= yield :vendor_css_area %>
  <!-- =============== APP STYLES ===============-->
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- =============== VENDOR SCRIPTS ===============-->
  <%= javascript_include_tag 'base' %>
  <!-- =============== VIEW VENDOR SCRIPTS ===============-->
  <%= javascript_include_tag params[:controller] %>
  <%= yield :vendor_js_area %>
  <!-- =============== APP SCRIPTS ===============-->
  <%= javascript_include_tag 'application' %>
  <!--================ PRINT =====================-->
  <%= stylesheet_link_tag 'application', media: 'print' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
   <div class="col-12">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/topnavbar" %>
      </header>

      <!-- Main section-->
      <section class="section-container">
         <!-- Page content-->
         <div class="content-wrapper">
           <%= render partial: "layouts/partials/notice_alert" %>
           <%= yield %>
         </div>

         <%= yield :body_area %>

        <!-- Page footer-->
        <footer class="footer font-small fixed-bottom">
          <div class="footer-content">
            <%= render partial: "layouts/partials/footer" %>
          </div>
        </footer>
      </section>
   </div>
</body>
</html>
